In [1]:
import polars as pl
import numpy

In [2]:
# First, should learn lambda functions to better work with data and polars framework
# Lambda functions are anon functions
# E.g.:

add = lambda x, y: x + y

In [3]:
# Using add lambda function
z = add(x=1, y=2)
add(x=z, y = z+1)

7

In [4]:
q = (
    pl.scan_csv("docs/assets/data/iris.csv")
)

In [38]:
# Create a dataframe
df_spp = \
  pl.DataFrame(
    {
      "name": ['Shaun', 'Sophie', 'Antony', 'Praful', 'Usha'],
      "age": ['28', '23', '32', '69', '63'],
      "employed": [1,0,1,1,0]
    }
  )

df_spp

shape: (5, 3)
┌────────┬─────┬──────────┐
│ name   ┆ age ┆ employed │
│ ---    ┆ --- ┆ ---      │
│ str    ┆ str ┆ i64      │
╞════════╪═════╪══════════╡
│ Shaun  ┆ 28  ┆ 1        │
│ Sophie ┆ 23  ┆ 0        │
│ Antony ┆ 32  ┆ 1        │
│ Praful ┆ 69  ┆ 1        │
│ Usha   ┆ 63  ┆ 0        │
└────────┴─────┴──────────┘

In [39]:
# Test describe
df_spp.describe()

shape: (9, 4)
┌────────────┬────────┬──────┬──────────┐
│ statistic  ┆ name   ┆ age  ┆ employed │
│ ---        ┆ ---    ┆ ---  ┆ ---      │
│ str        ┆ str    ┆ str  ┆ f64      │
╞════════════╪════════╪══════╪══════════╡
│ count      ┆ 5      ┆ 5    ┆ 5.0      │
│ null_count ┆ 0      ┆ 0    ┆ 0.0      │
│ mean       ┆ null   ┆ null ┆ 0.6      │
│ std        ┆ null   ┆ null ┆ 0.547723 │
│ min        ┆ Antony ┆ 23   ┆ 0.0      │
│ 25%        ┆ null   ┆ null ┆ 0.0      │
│ 50%        ┆ null   ┆ null ┆ 1.0      │
│ 75%        ┆ null   ┆ null ┆ 1.0      │
│ max        ┆ Usha   ┆ 69   ┆ 1.0      │
└────────────┴────────┴──────┴──────────┘

In [40]:
# Test collect_schema
df_spp.collect_schema()

Schema([('name', String), ('age', String), ('employed', Int64)])

In [30]:
# Test out corr
# Apparently corr doesn't work with types 'str', 'int'
# Guess I need double/float?
df_spp.corr()

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [41]:
# Have to learn how to add more columns that are double/float, select them using pl framework, and run corr() on them
# Goal is to get corr() to work

# First let's create another df_spp object to work on:

df_spp_scratch = df_spp.__copy__() # This copy is EXTREMELY IMPORTANT
# If you don't do it, then after making the df_spp_scratch object, if you alter that object those changes also are applied to the original df_spp object
# Insane!!!
df_spp_scratch

shape: (5, 3)
┌────────┬─────┬──────────┐
│ name   ┆ age ┆ employed │
│ ---    ┆ --- ┆ ---      │
│ str    ┆ str ┆ i64      │
╞════════╪═════╪══════════╡
│ Shaun  ┆ 28  ┆ 1        │
│ Sophie ┆ 23  ┆ 0        │
│ Antony ┆ 32  ┆ 1        │
│ Praful ┆ 69  ┆ 1        │
│ Usha   ┆ 63  ┆ 0        │
└────────┴─────┴──────────┘

In [37]:
df_spp

shape: (5, 4)
┌────────┬─────┬──────────┬──────────┐
│ name   ┆ age ┆ mac_user ┆ employed │
│ ---    ┆ --- ┆ ---      ┆ ---      │
│ str    ┆ str ┆ f64      ┆ i64      │
╞════════╪═════╪══════════╪══════════╡
│ Shaun  ┆ 28  ┆ 1.0      ┆ 1        │
│ Sophie ┆ 23  ┆ 1.0      ┆ 0        │
│ Antony ┆ 32  ┆ 1.0      ┆ 1        │
│ Praful ┆ 69  ┆ 0.0      ┆ 1        │
│ Usha   ┆ 63  ┆ 0.0      ┆ 0        │
└────────┴─────┴──────────┴──────────┘

In [35]:
# insert_column inserts in-place, so if the below is executed, then the dataframe on which this method is being executed permanently changes in memory
df_spp_scratch.insert_column(index=-1,  column=pl.lit(pl.Series(name='mac_user', values=[1.0, 1.0, 1.0, 0.0, 0.0], dtype=pl.Float64)))
df_spp_scratch

shape: (5, 4)
┌────────┬─────┬──────────┬──────────┐
│ name   ┆ age ┆ mac_user ┆ employed │
│ ---    ┆ --- ┆ ---      ┆ ---      │
│ str    ┆ str ┆ f64      ┆ i64      │
╞════════╪═════╪══════════╪══════════╡
│ Shaun  ┆ 28  ┆ 1.0      ┆ 1        │
│ Sophie ┆ 23  ┆ 1.0      ┆ 0        │
│ Antony ┆ 32  ┆ 1.0      ┆ 1        │
│ Praful ┆ 69  ┆ 0.0      ┆ 1        │
│ Usha   ┆ 63  ┆ 0.0      ┆ 0        │
└────────┴─────┴──────────┴──────────┘

In [14]:
df_spp

shape: (5, 4)
┌──────────┬────────┬─────┬──────────┐
│ mac_user ┆ name   ┆ age ┆ employed │
│ ---      ┆ ---    ┆ --- ┆ ---      │
│ f64      ┆ str    ┆ str ┆ i64      │
╞══════════╪════════╪═════╪══════════╡
│ 1.0      ┆ Shaun  ┆ 28  ┆ 1        │
│ 1.0      ┆ Sophie ┆ 23  ┆ 0        │
│ 1.0      ┆ Antony ┆ 32  ┆ 1        │
│ 0.0      ┆ Praful ┆ 69  ┆ 1        │
│ 0.0      ┆ Usha   ┆ 63  ┆ 0        │
└──────────┴────────┴─────┴──────────┘

In [12]:
mac_user_series = pl.Series(values=[1.0, 1.0, 1.0, 0.0, 0.0])

df_spp.with_columns(
  pl.lit(value=mac_user_series, dtype=pl.Float64).alias('mac_user'),
  pl.lit(value=pl.series(values=[1,2,3,4,5]), dtype=pl.Float64).alias('testcol'))

TypeError: 'module' object is not callable

In [45]:
import polars as pl

# A Series
series = pl.Series([1, 2, 3])

# Wrapping the Series in pl.lit to use in a query
df = pl.DataFrame({"a": [4, 5, 6]})
result = df.with_columns(
    (pl.col("a") + pl.lit(series)).alias("result")
)
print(result)

shape: (3, 2)
┌─────┬────────┐
│ a   ┆ result │
│ --- ┆ ---    │
│ i64 ┆ i64    │
╞═════╪════════╡
│ 4   ┆ 5      │
│ 5   ┆ 7      │
│ 6   ┆ 9      │
└─────┴────────┘